/*----------------------------------------------------------------------A TAG UNICODE ARROWS--------------------------*/
.vote-up {
    font-size: 1.5em;
    /*font-stretch: expanded;*/
    text-decoration: none;
}

.vote-down {
    font-size: 1.5em;
    text-decoration: none;
    color: blue;
    text-decoration: bold;
/*-webkit-transform: rotateX(90deg);*/
/*   -moz-transform: rotateX(90deg);*/
/*    -ms-transform: rotateX(90deg);*/
/*     -o-transform: rotateX(90deg);*/
/*        transform: rotateX(90deg);*/
}


